@use 'src/sass/abstracts';

.chartLoadingSkeleton {
  width: 100% !important;
  height: 100% !important;

  :global {
    .ant-skeleton-image {
      width: 100% !important;
      height: 100% !important;
    }

    .anticon {
      font-size: 72px;
    }
  }
}

.chartEmptyMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
