@use 'src/sass/abstracts';

.chartLoadingIcon {
  font-size: 48px;
}

.chartEmptyMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
