$color-primary: #01B466;
$color-gray: #D9D9D9;
$color-gray-light: #FAFAFC;
$color-gray-dark: #A9A9A9;

$font-sm: 11px;
$font-lg: 25px;
$font-xl: 36px;

:export {
    colorPrimary: $color-primary;
    colorGray: $color-gray;
}