@use "src/sass/common";
@use "src/sass/abstracts";

.date-selector {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.icon-block {
    border: 1px solid abstracts.$variables-color-gray;
    background-color: abstracts.$variables-color-gray;
    display: grid;
    place-items: center;
    padding: 10px;
}

.caption {
    font-weight: 700;
    white-space: nowrap;
}