@use 'src/sass/common';
@use 'src/sass/abstracts';

.iconBlock {
  border: 1px solid abstracts.$variables-color-gray;
  background-color: abstracts.$variables-color-gray;
  display: grid;
  place-items: center;
  padding: 10px;
}

.dateSelector {
  width: 100%;

  :global {
    .ant-picker {
      width: 100%;
    }
  }
}
