.usersTable {
  overflow-x: auto;
}

.usersTableLight {
  :global {
    .ant-table-tbody {
      background-color: #fff;

      .ant-table-row {
        cursor: pointer;
      }
    }
  }
}

.usersTableDark {
  :global {
    .ant-table-tbody {
      background-color: #141414;
    }
  }
}

.tableLoadingSkeleton {
  height: 540px;
}

.tableLoadingIcon {
  font-size: 48px;
}
