@use 'src/sass/abstracts';
@use 'src/sass/common';

.paymentsSection {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  :global {
    h1.ant-typography {
      font-size: abstracts.$variables-font-lg;
    }

    .ant-btn {
      width: 100%;
      font-weight: 500;
      font-size: abstracts.$variables-font-sm;
      text-transform: uppercase;
    }
  }
}

.statCards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.chartCard {
  :global {
    .ant-card-body {
      padding: 0;
    }
  }
}

.revenueChartContainer {
  height: 250px;
  width: 100%;
}
