.mainLayout {
  height: 100vh;
  flex-direction: column;

  :global {
    .ant-layout-content {
      flex: auto;
      overflow: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
  }
}
