@use "src/sass/common";
@use "src/sass/abstracts";

.app-container {
    display: flex;
    justify-content: center;
    background-color: abstracts.$variables-color-gray-light;
    min-height: 100vh;
}

.section-payments {
    padding-top: 120px;
    padding-inline: 20px;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .stat-cards {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }

    :global {
        h1.ant-typography {
            font-size: 25px; 
        };

        .ant-picker {
            width: 100%;
        }
        
        .ant-btn {
            width: 100%;
        }        
    }
}