@use "../../../sass/common";

.app-container {
    display: flex;
    justify-content: center;
    background-color: #FAFAFC;
    min-height: 100vh;
}

.section-payments {
    padding-top: 120px;
    padding-inline: 20px;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}