.signupForm {
  :global {
    .ant-form-item {
      margin-bottom: 8px;
    }

    .submit-button-wrapper {
      margin-top: 24px;
    }

    .ant-btn {
      width: 100%;
      border-radius: 500px;
      height: auto;
      padding: 8px;
    }
  }
}
