@use "src/sass/abstracts";

.stat-card {
    padding-block: 8px;
    padding-inline: 10px;
    font-weight: 600;

    .icon {
        font-size: 36px;
    }

    .text-block {
        display: flex;
        flex-direction: column; 
    }
    
    :global {
        .ant-card-body {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;

            &::before {
                content: none;
            }

            &::after {
                content: none;
            }
        }

        .ant-typography {
            line-height: 1.3;
        }   

        .ant-statistic {
            display: flex;
            flex-direction: column-reverse;

            .ant-statistic-title {
                color: abstracts.$variables-color-gray-dark;
                text-transform: uppercase;
            }
        }
    }
}