.footer {
  flex: 0 0 64px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.appTitle {
  font-weight: 700;
}

.navigation {
  margin-inline-start: auto;
}

.navigationList {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
