@use "../abstracts";

.w100 {
    width: 100%;
}

.text-uppercase {
    text-transform: uppercase;
}

.font-sm {
    font-size: abstracts.$variables-font-sm;
}

.font-lg {
    font-size: abstracts.$variables-font-lg;
}