.signupPage {
  max-width: 500px;
  width: 100%;

  :global {
    .ant-card-body {
      height: 100%;
    }
  }
}

.useExistingAccount {
  text-align: center;
  margin-top: 10px;
  display: block;
}
